# ─── Base de datos ───────────────────────────────────────
MYSQL_ROOT_PASSWORD=root_secret_cambia_esto
DB_NAME=sabores_db
DB_USER=sabores_user
DB_PASSWORD=sabores_pass_cambia_esto

# ─── JWT ─────────────────────────────────────────────────
# Genera uno seguro con: openssl rand -base64 64
JWT_SECRET=c2FiMDByM3NfajB0X3MzY3IzdF9rM3lfZjByX2Rldl9vbmx5X2RvX25vdF91c2VfaW5fcHJvZA==

# ─── CORS ────────────────────────────────────────────────
# En desarrollo: http://localhost:4200
# En producción: https://tu-dominio.com
CORS_ORIGINS=http://localhost:4200
